body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Calibri', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    background-color: #3c3c3c;
    color: white;
}

body {
    padding-bottom: 50px;
}

header {
    width: 100%;
    height: 150px;
}

.header-wrapp {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 300;
    font-size: 60px;
    color: white;
    text-decoration: none;
    line-height: 55%;
    border-bottom: 10px solid tomato;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.logo:hover {
    color: tomato;
}

.menu {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 24px;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.menu a:hover {
    background: tomato;
    color: #3c3c3c;
}

main {
    width: 100%;
}

/* .main-contact {
    display: flex;
    justify-content: space-between;
} */

.main-wrapp {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.main-wrapp h1 {
    font-size: 50px;
    font-weight: 400;
}

.main-wrapp h1 span {
    color: tomato;
}

.autor__img {
    border: 3px solid white;
    border-radius: 100%;
    margin: 50px;
    width: 400px;
    height: 400px;
    overflow: hidden;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.autor__img img {
    width: 100%;
    height: auto;
}

.article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article {
    font-size: 24px;
}

article span {
    color: tomato;
    font-weight: 400;
}

article a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    border: 1px solid #4A76A8;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: #4A76A8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

article a:hover {
    border-color: #4A76A8;
    background: #224B7A;
}

.offer {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 24px;
}

.offer ul li {
    list-style: none;
}

.offer ul li:before {
    content: "";
    display: block;
    top: 20px;
    left: -20px;
    position: relative;
    border-radius: 100%;
    background-color: tomato;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.offer a {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 150px;
    height: 50px;
    font-size: 28px;
    text-decoration: none;
    color: #3c3c3c;
    background-color: tomato;
    border-radius: 5px;
    border: 1px solid tomato;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.offer a:hover {
    background-color: rgb(218, 81, 57);
}

.gallery {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery img {
    width: 32%;
    cursor: pointer;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.gallery img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

canvas {
    margin: 0 auto;
    display: block;
}